$blue: #3b74b4;
$white: #fff;
$grey: #e4e4e4;
$secondary-white: #f7f7f7;
$green: #67b930;
$normal-grey: #616161;
$light-grey: #8d8d8d;
$dark-grey: #2b2b2b;

.for_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  background-color: $white;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 60%;
  min-width: 250px;
  color: $normal-grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form p {
  text-transform: none;
  font-size: 1rem;
  font-style: italic;
  color: $light-grey;
}

.form .field {
  width: 100%;
  text-transform: uppercase;
}

.form .field * {
  display: block;
}

.form .field input {
  padding: 0.2rem;
  margin-top: 0.2rem;
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 0.2rem;
  height: 1.5rem;
  font-family: proxima-nova, sans-serif;
  color: $dark-grey;
  font-weight: 100;
}

.form .field input::placeholder {
  color: $light-grey;
}

.form .field input:focus {
  outline: 1px solid $blue;
}

.checkbox label:first-of-type {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.checkbox label {
  text-transform: none;
  display: inline-block;
  width: 90%;
}

.checkbox input {
  display: inline-block;
  width: 10%;
}

.checkbox span {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: $light-grey;
  margin-top: 1rem;
  text-align: center;
}

.static {
  display: block;
  min-height: 2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: 1px solid $normal-grey;
  border-radius: 0.2rem;
  color: $white;
  background-color: $normal-grey;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.static:hover {
  color: $white;
  background-color: $green;
  border: 1px solid $green;
}
